#rolling-ball{
	width: 75px;
	height: 75px;
	border-radius: 50%;
	text-align: center;
	background: linear-gradient(180deg, red, black);
	transition: 1s;
	display: table;
	cursor: pointer;
}

#rolling-ball:active{
	-moz-transform: rotate(720deg);
	-webkit-transform: rotate(720deg);
	-o-transform:rotate(720deg);
	-ms-transform:rotate(720deg);
	transform:rotate(720deg);
	margin-left: 600px;
}

.ball-text{
	display: table-cell;
	vertical-align: middle;
}