.home-img{
	border-radius: 50%;
	height: 210px;
}

.home-img-block{
	display: inline-block;
}

#mugshot{
	display: inline-block;
	padding-right: 15px;
}

.home-section{
	padding: 20px;
	margin: 20px;
	border-radius: 5px;
	display: inline-block;
	vertical-align: top;
	min-width: 27%;
	background-color: rgba(252, 252, 252, 0.7);
}

.home-question{
	color: #ba1820;
	font: 45px/2em 'Bubbler One', Helvetica;
	font-weight: bold;
	display: block;
}

.home-answer{
	font-size: 20px;
	margin-left: 15px;
	background-color: rgba(220, 220, 220, 0.2);
	padding: 10px;
	display: inline-block;
	width: 75%;
	vertical-align: top;
	text-align: left;
	border-radius: 5px;
}

.question-container{
	display: inline-block;
	width: 21%;
}

p {
	text-indent: 25px;
	padding: 5px;
	margin: 0;
}

.light .home-answer{
	background: rgba(123, 123, 123, 0.1);
}

.img-right{
	padding-left: 15px;
}

#home-content{
	text-align: center;
}