#projects-container{
	text-align: left;
	margin: 0 0 0 15px;
	width: 65%;
	margin: 0 auto;
	background-color: rgba(252, 252, 252, 0.5);
	border-radius: 5px;
	padding: 10px;
}

@media (max-width: 455px) {
	#projects-container{
		margin-left: 0;
		padding: 7px;
		width: 100%;
	}
}