@import 'variables';
#ttt-container {
	color: $main-red;
	margin: 0 auto;
	text-align: center;
}

#ttt-settings {
	font-size: 25px;
	margin: 15px;
}

#ttt-turn-tracker {
	margin: 10px;
	font-size: 20px;
}

#ttt-table {
	margin: 0 auto;
	text-align: center;
}
.ttt-square {
	height: 100px;
	min-width: 100px;
	font-size: 72px;
	color: $main-red;
	cursor: pointer;

	&:not(:first-child):not(:last-child) {
		border-left: 1px solid black;
		border-right: 1px solid black;
	}
}

.ttt-row {
	&:not(:first-child):not(:last-child) {
		border-top: 1px solid black;
		border-bottom: 1px solid black;
	}
}

.ttt-reset {
	border: 1px solid $main-red;
	transition: .3s;
	border-radius: 5px;
	background-color: rgba(252, 252, 252, 0.7);
	margin-top: 10px;

	&:hover {
		background-color: white;
	}
}