@import 'variables';
#ttt-container {
	color: $main-red;
}

#ttt-settings {
	margin: 15px;
}

#ttt-table {
	max-width: 100px;
	margin: 0 auto;
	text-align: center;
}
.ttt-square {
	height: 100px;
	min-width: 100px;
	font-size: 72px;
	color: $main-red;
	cursor: pointer;

	&:not(:first-child):not(:last-child) {
		border-left: 1px solid black;
		border-right: 1px solid black;
	}
}

.ttt-row {
	&:not(:first-child):not(:last-child) {
		border-top: 1px solid black;
		border-bottom: 1px solid black;
	}
}

#ttt-reset {
	margin-top: 10px;
}