---
title: Tic Tac Toe
bodyClass: nonindex
---
<% content_for :assets do %>
<%= stylesheet_link_tag 'tictactoe' %>
<%= javascript_include_tag 'tictactoe' %>
<% end %>

<div id="ttt-container">
	<div id="ttt-settings">
		Board Size: <input type="text" id="ttt-size" value="3" size="2" max="10" min="3" maxlength="2" />
		<input type="button" class="ttt-reset" value="Play &rarr;" />
	</div>
	<table id="ttt-table">
		<% (2.downto(0)).each do |i| %>
		<tr class="ttt-row">
			<% (0..2).each do |j| %>
			<td class="ttt-square" data-position='<%= "#{j}#{i}" %>'></td>
			<% end %>
		</tr>
		<% end %>
	</table>

</div>