---
title: T R I G G E R E D
bodyClass: nonindex
---

<% content_for :assets do %>
<%= stylesheet_link_tag 'triggered' %>
<%= javascript_include_tag 'home' %>
<% end %>

<div id="triggered-content">
	<div id="triggered-header">
		Current Triggered Status:
	</div>
	<div id="triggered-status">
		L I V I D
	</div>
</div>